/************************ Global *********************/

:root {
    --color-blue-dark: #0065FC;
    --color-blue-light: #DEEBFF;
    --color-grey: #f2f2f2;
}

* {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

body, h1, h2, h3, h4, p {
    margin: 0;
}

body {
    padding: 0 50px;
}

h1, h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

h2 {
    padding-bottom: 25px;
}

h3 {
    font-weight: 700;
}

a {
    color: initial;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

i {
    color: var(--color-blue-dark);
}

/************************ Header *********************/

.site-header {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 61.09px;
    height: 19px;
    margin-left: 5px;
}

nav ul {
    margin: 0;
    display: flex;
}

nav li {
    padding: 46px 21px;
    border-top: solid 2px transparent;
}

nav li:first-of-type {
    margin-right: 25px;
}

nav li:hover {
    font-weight: 500;
    border-color: var(--color-blue-dark);
}

nav li:hover a {
    color: var(--color-blue-dark);
}

/************************ Main *********************/

main {
    max-width: 1400px;
    margin: auto;
}

.search-section {
    width: 100%;
    padding: 40px 5px;
}

h1 {
    margin: 19px 0 8px 0;
    padding: 0;
}

.tagline {
    margin-bottom: 20px;
}

.search-section fieldset {
    border: none;
    margin: 0 0 20px 0;
    padding: 0;
}

fieldset.search-line {
    display: flex;
}

.search-line label i {
    width: 100%;
    background: var(--color-grey);
    border-radius: 15px 0px 0px 15px;
    padding: 16px;
}

.search-line input {
    border: 1px solid var(--color-grey);
    border-right: none;
    padding: 13px;
    font-weight: 700;
    font-size: 18px;
}

.search-line button {
    background: var(--color-blue-dark);
    padding: 14px;
    border: var(--color-blue-dark);
    border-radius: 0px 15px 15px 0px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.search-line button:hover {
    cursor: pointer;
}

.search-line button i {
    color: #fff;
}

.fa-location-dot {
    color: initial;
}

.filters,
.filters ul,
.filters li {
    display: flex;
    align-items: center;
}

.filters h2 {
    margin: 0 35px 0 7px;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.filters ul {
    margin: 0;
    padding: 0;
}

.filters li {
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    margin-right: 48px;
    padding: 14px;
}

.filters p {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.filters i {
    margin-right: 10px;
}

.filters li:hover {
    background: var(--color-blue-light);
    cursor: pointer;
}

.infos {
    padding: 10px 0;
    display: flex;
    align-items:center;
}

.infos i {
    margin: 0 10px 0 7px;
    padding: 7px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    font-size: 10px;
}

.offers-section {
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
}

.offers-section__lodging,
.offers-section__popular {
    background: var(--color-grey);
    border-radius: 20px;
    padding: 40px;
}

.offers-section__lodging {
    width: 880px;
}

.offers-section__popular {
    width: 420px;
}

.cards {
    margin-bottom: 40px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.card {
    border-radius: 20px;
    background-color: #fff;
}

.card--lodging {
    width: 30%;
}

.card__link {
    display: flex;
    flex-direction: column;
}

.card__img {
    width: 100%;
    max-height: 124px;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card__infos {
    padding: 4px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 9px;
}

.afficher-plus {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.popular__title {
    display: flex;
    justify-content: space-between;
}



/************************ Footer *********************/



/********************* Media Queries *******************/