/************************ Global *********************/

:root {
    --color-blue-dark: #0065FC;
    --color-blue-light: #DEEBFF;
    --color-grey: #f2f2f2;
}

* {
    box-sizing: border-box;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

body, h1, h2, h3, h4, p {
    margin: 0;
}

h1, h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

h2 {
    padding-bottom: 23px;
}

h3 {
    font-weight: 700;
}

a {
    color: initial;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

i {
    color: var(--color-blue-dark);
}

.site-header,
main,
.site-footer {
    max-width: 1400px;
    margin: auto;
}

/************************ HEADER ************************/

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 61.09px;
    height: 19px;
    margin-left: 5px;
}

nav ul {
    margin: 0;
    display: flex;
}

nav li {
    padding: 40px 21px;
    border-top: solid 2px transparent;
}

nav li:first-of-type {
    margin-right: 25px;
}

nav li:hover {
    font-weight: 500;
    border-color: var(--color-blue-dark);
}

nav li:hover a {
    color: var(--color-blue-dark);
}

/************************ MAIN *********************/


/*============== Search section =============*/

.search-section {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 5px;
}

h1 {
    margin: 23px 0 8px 0;
    padding: 0;
}

.tagline {
    margin-bottom: 20px;
}

.search-section fieldset {
    border: none;
    margin: 0 0 20px 0;
    padding: 0;
}

fieldset.search-line {
    display: flex;
}

.search-line label i {
    width: 100%;
    padding: 16px 15px 15px 18px;
    background: var(--color-grey);
    border-radius: 15px 0px 0px 15px;
    font-size: 18px;
}

.search-line input {
    border: 1px solid var(--color-grey);
    border-right: none;
    padding: 13px;
    font-weight: 700;
    font-size: 18px;
}

.search-line button {
    background: var(--color-blue-dark);
    padding: 14px;
    border: var(--color-blue-dark);
    border-radius: 0px 15px 15px 0px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.search-line button:hover {
    cursor: pointer;
}

.search-line button i {
    color: #fff;
}

.fa-location-dot {
    color: initial;
}

.filters,
.filters ul,
.filters li {
    display: flex;
    align-items: center;
}

.filters h2 {
    margin: 0 35px 0 7px;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.filters ul {
    margin: 0;
    padding: 0;
}

.filters li {
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    margin-right: 48px;
    padding: 14px;
}

.filters p {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.filters i {
    margin-right: 10px;
}

.filters li:hover {
    background: var(--color-blue-light);
    cursor: pointer;
}

.infos {
    padding: 10px 0;
    display: flex;
    align-items:center;
}

.infos i {
    margin: 0 10px 0 7px;
    padding: 7px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    font-size: 10px;
}


/*========== Results section ============*/

.offers-section {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    margin-bottom: 60px;
}

.offers-section__lodging,
.offers-section__popular {
    background: var(--color-grey);
    border-radius: 20px;
    padding: 40px;
    height: 626px;
}

.offers-section__lodging {
    width: 880px;
}

.offers-section__popular {
    width: 420px;
}

.cards {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.card {
    border-radius: 20px;
    background: #fff;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card__link {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.card__img {
    width: 100%;
    height: 124px;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card__infos {
    padding: 4px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 9px;
}

.card__infos h3 {
    padding-bottom: 9px;
}

.card__text p {
    font-size: 14px;
    line-height: 16px;
}

.stars i {
    font-size: 12px;
}

.stars i:last-of-type {
    color: var(--color-grey);
}

.cards--lodging {
    margin-bottom: 40px;
}

.card--lodging {
    width: 246px;
}

.cards--popular {
    row-gap: 33px;
}

.card--popular {
    width: 100%;
}

.card--popular .card__link {
    display: flex;
    flex-direction: row;
}

.card--popular .card__img {
    width: 137px;
    height: 144px;
    border-radius: 20px 0 0 20px;
}

.card--popular .card__infos {
    padding-top: 16px;
}


.afficher-plus {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.popular__title {
    display: flex;
    justify-content: space-between;
}


/*=========== Activities section ==============*/

.activities-section {
    margin-bottom: 60px;
}

.card--activity {
    width: 302px;
    border: none;
}

.card--activity .card__link {
    height: 100%;
    justify-content: flex-start;
}

.card--activity .card__img {
    height: 389px;
    border: none;
    object-fit: cover;
}

.card--activity h3 {
    padding: 20px;
}


/************************ Footer *********************/

.site-footer {
    padding: 45px 70px;
    background: var(--color-grey);
    display: flex;
    column-gap: 230px;
}

.site-footer h4 {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.site-footer ul {
    margin: 0;
    padding: 0;
}

.site-footer li {
    padding-bottom: 12px;
}

/********************* Media Queries *******************/