/************************************************************************/
/****************************** Desktop *********************************/
/************************************************************************/




/******************************* GLOBAL *********************************/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

:root {
    --color-blue-dark: #0065FC;
    --color-blue-light: #DEEBFF;
    --color-grey: #f2f2f2;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p {
    margin: 0;
}

h1, h2 {
    font-weight: 700;
    font-size: 1.375em;
}

h2 {
    padding-bottom: 23px;
}

h3 {
    font-size: 1em;
    font-weight: 700;
}

a {
    color: initial;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

i {
    color: var(--color-blue-dark);
}

.site-header,
.site-main,
.site-footer {
    max-width: 1400px;
    margin: 0 50px;
}

/********************************** HEADER *****************************/

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 61.09px;
    height: 19px;
    margin-left: 5px;
}

nav ul {
    margin: 0;
    display: flex;
    column-gap: 25px;
}

nav li {
    padding: 40px 21px;
    border-top: solid 2px transparent;
}

nav li:hover {
    font-weight: 500;
    border-color: var(--color-blue-dark);
}

nav li:hover a {
    color: var(--color-blue-dark);
}

/********************************** MAIN ********************************/


/*============== Search section =============*/

.search-section {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 5px;
}

h1 {
    margin: 23px 0 8px 0;
    padding: 0;
}

.tagline {
    margin-bottom: 20px;
}

.search-section fieldset {
    border: none;
    padding: 0;
}

.search-line {
    display: flex;
    margin-bottom: 35px;
}

.search-line label i {
    width: 100%;
    padding: 16px 15px 15px 18px;
    background: var(--color-grey);
    border-radius: 15px 0px 0px 15px;
    font-size: 1.125em;
}

.search-line input {
    border: 1px solid var(--color-grey);
    border-right: none;
    padding: 13px;
    font-weight: 700;
    font-size: 1.125em;
}

.search-line button {
    background: var(--color-blue-dark);
    padding: 14px;
    border: var(--color-blue-dark);
    border-radius: 0px 15px 15px 0px;
    color: #fff;
    font-weight: 700;
    font-size: 1.125em;
    text-align: center;
}

.search-line button:hover {
    cursor: pointer;
}

.search-line button i {
    color: #fff;
}

.fa-location-dot {
    color: initial;
}

.filters,
.filters ul,
.filters li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filters {
    row-gap: 15px;
}

.filters h2 {
    margin: 0 35px 0 7px;
    padding: 0;
    font-size: 1.125em;
}

.filters ul {
    margin: 0;
    padding: 0;
    column-gap: 36px;
    row-gap: 15px;
}

.filters li {
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 14px;
}

.filters p {
    font-weight: 700;
    font-size: 1.1em;
}

.filters i {
    margin-right: 10px;
}

.filters li:hover {
    background: var(--color-blue-light);
    cursor: pointer;
}

.infos {
    margin-top: 20px;
    padding: 10px 0;
    display: flex;
    align-items:center;
}

.infos i {
    margin: 0 10px 0 7px;
    padding: 7px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    font-size: 0.625em;
}


/*========== Results section ============*/

.offers-section {
    display: flex;
    justify-content: space-between;
}

.offers-section__lodging,
.offers-section__popular {
    background: var(--color-grey);
    border-radius: 20px;
    padding: 40px;
}

.offers-section__lodging {
    width: 65%;
}

.offers-section__popular {
    width: 32%;
}

.cards {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.card {
    border-radius: 20px;
    overflow:hidden;
    background: #fff;
    border: 5px solid #fff;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card__link {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card__img {
    width: 100%;
    height: 124px;
    object-fit:cover;
}

.card__infos {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 9px;
    height: 100%;
}

.card__infos h3 {
    padding-bottom: 9px;
}

.card__text p {
    font-size: 0.875em;
}

.stars i {
    font-size: 0.75em;
}

.stars i:last-of-type {
    color: var(--color-grey);
}

.cards--lodging {
    margin-bottom: 40px;
}

.card--lodging {
    width: 32%;
}

.offers-section__popular h2 {
    margin-right: 15px;
}

.cards--popular {
    row-gap: 30px;
}

.card--popular {
    width: 100%;
}

.card--popular .card__link {
    display: flex;
    flex-direction: row;
}

.card--popular .card__img {
    width: 40%;
    height: 144px;
}

.card--popular .card__infos {
    width: 60%;
}


.afficher-plus {
    font-weight: 700;
    font-size: 1.125em;
}

.popular__title {
    display: flex;
    justify-content: space-between;
}


/*=========== Activities section ==============*/

.activities-section {
    margin-bottom: 60px;
}

.activities-section h2 {
    padding-top: 40px;
}

.card--activity {
    width: 23%;
    border: none;
}

.card--activity .card__link {
    height: 100%;
}

.card--activity .card__img {
    height: 389px;
    border: none;
    object-fit: cover;
}

.card--activity h3 {
    padding: 20px;
    margin: auto 0;
}


/******************************* Footer *********************************/

.site-footer {
    padding: 45px 70px;
    background: var(--color-grey);
    display: flex;
    flex-wrap: wrap;
}

.footer__column {
    width: 33.3%;
}

.site-footer h4 {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 1.125em;
}

.site-footer ul {
    margin: 0;
    padding: 0;
}

.site-footer li {
    padding-bottom: 12px;
}

/***********************************************************************/
/****************************** Tablettes ******************************/
/***********************************************************************/

@media screen and (min-width: 1401px) {
    body {
        padding: 0 40px;
    }
    
    .site-header,
    .site-main,
    .site-footer {
        margin: auto;
    }
}

@media screen and (max-width: 1290px) and (min-width: 992px) {
    
    .card--popular  .card__link {
       flex-direction: column;
    }

    .card--popular .card__img,
    .card--popular .card__infos {
        width: 100%;
    }

    .card--popular .card__img {
        height: 100px;
        border-radius: 20px 20px 0 0;
    }

}

@media screen and (max-width: 991px) {
    
    .site-header,
    .site-main,
    .site-footer {
        margin: 0 20px;
    }
    
    .filters h2 {
        margin-right: 10px;
    }

    .filters ul {
        column-gap: 10px;
    }
    
    .offers-section {
        flex-direction: column;
    }

    .offers-section__lodging, 
    .offers-section__popular {
        width: 100%;
    }

    .card--popular {
        width: 32%;
    }

    .card__infos {
        padding: 8px 6px;
    }

    .card--popular .card__infos {
        padding-top: 8px;
    }

    .card--activity .card__img {
        height: 211px;
    }

}

@media screen and (min-width: 768px) {
    .submit-glass {
        display: none;
    }
}

@media screen and (max-width:767px) {
    
    body {
        padding: 0;
    }

    .site-header,
    .site-main,
    .site-footer {
        margin: 0;
    }

    .site-header {
        flex-direction: column;
    }

    .logo {
        margin: 20px auto;
    }

    nav {
        width: 100%;
    }

    nav ul {
        width: 100%;
        padding: 0;
        column-gap: 0;
    }

    nav li {
        width: 50%;
        padding: 25px 0;
        text-align: center;
        border-top: none;
        border-bottom: solid 2px transparent;
    }

    .search-section {
        padding: 0 20px;
    }

    .search-line input {
        width: 150px;
        flex-grow: 1;
        font-size: 1em;
    }

    .filters ul {
        justify-content: center;
    }

    .filters li {
        width: 48%;
    }

    .offers-section {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .offers-section__lodging,
    .offers-section__popular {
        border-radius: 0;
        padding: 40px 20px;
    }

    .offers-section__lodging {
        background: #fff;
    }

    .activities-section {
        margin-bottom: 80px;
        padding: 0 20px;
    }

    h1 {
        margin: 30px 0 13px 0;
    }
    
    .submit-word {
        display: none;
    }

    .card {
        width: 100%;
    }

    .site-footer {
        flex-direction: column;
        row-gap: 40px;
        padding: 45px 20px;
    }

    .footer__column {
        width: 100%;
    }
}

@media screen and (max-width: 530px) {
    
    .filters ul {
        align-items: stretch;
    }
    
    .filters li {
        padding: 10px;
        flex-direction: column;
    }

    .filters p {
        font-size: .9em;
        text-align: center;
    }
}